ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(211, 243, 253);
}

ul.header li { 
    float: left;
    background-position: center bottom;
}

ul.header li a {
    display: block;
    color: black;
    text-align: justify;
    padding: 20px 10px;
    text-decoration: none;
}